<pre class="font-mono"><code class="yaml text-base">
version: '3'
services:
  # The Web Server
  web:
    image: nginx:1.24
    volumes:
      - ./:/var/www
      - ./resources/docker/vhost.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    restart: "always"
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.redirect-2-https.redirectscheme.scheme=https"
      - "traefik.http.routers.insecure.entrypoints=web"
      - "traefik.http.routers.insecure.rule=Host(`project.dev.j3j5.uy`)"
      - "traefik.http.routers.insecure.middlewares=redirect-2-https@docker"
      - "traefik.http.routers.main.entrypoints=web-secure"
      - "traefik.http.routers.main.rule=Host(`project.dev.j3j5.uy`)"
      - "traefik.http.routers.main.tls=true"

  networks:
    default:
      external: true
      name: gateway
    </code>
</pre>