<pre class="font-mono"><code class="yaml text-2xl">
# To start the containers
docker-compose up -d

# To stop them
docker-compose down

# To delete them
docker-compose rm -vsf

# To tail the logs from the container
docker-compose logs -f database

# To stop the container AND remove the orphaned containers
docker-compose down -v --remove-orphans

# To get a working shell
docker-compose run --rm myapp sh
    </code>
</pre>