<pre class="font-mono"><code class="yaml text-base">
elastic:
  image: docker.elastic.co/elasticsearch/elasticsearch:8.8.1
  volumes:
      - esdata:/usr/share/elasticsearch/data
      - ./resources/docker/jvm.options:/usr/share/elasticsearch/config/jvm.options:ro
  environment:
      - cluster.name=my-cluster
      - node.name=the-node
      - bootstrap.memory_lock=true
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
  ulimits:
    memlock:
      soft: -1
      hard: -1

# Redis
redis:
  image: redis:7-alpine
  volumes:
    - redisdata:/data
    - ./resources/docker/redis.conf:/usr/local/etc/redis/redis.conf:ro

volumes:
  dbdata:
  redisdata:
  pmadata:
  esdata:

networks:
default:
  external: true
  name: gateway
    </code>
</pre>