<pre class="font-mono"><code class="yaml text-base">
version: "3"
services:

  # The Application
  my_app:
    image: bitnami/rails:6
    working_dir: /var/www/
    volumes:
      - ./:/var/www/
      - ./resources/docker/vhost.conf:/etc/nginx/conf.d/default.conf:ro
      - ./resources/docker/xdebug.ini:/usr/local/etc/php/conf.d/20-xdebug.ini:ro
    environment:
      - "POSTGRES_USER=postgres"
      - "POSTGRES_PASSWD=supersecret"
      - "POSTGRES_HOST=db"
      - "REDIS_HOST=redis"

    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.redirect-2-https.redirectscheme.scheme=https"
      - "traefik.http.routers.insecure-myapp.entrypoints=web"
      - "traefik.http.routers.insecure-myapp.rule=Host(`myapp.dev.j3j5.uy`)"
      - "traefik.http.routers.insecure-myapp.middlewares=redirect-2-https@docker"
      - "traefik.http.routers.myapp.entrypoints=web-secure"
      - "traefik.http.routers.myapp.rule=Host(`myapp.dev.j3j5.uy`)"
      - "traefik.http.routers.myapp.tls=true"
  # The Database
  database:
    image: postgres:alpine3.15
    volumes:
      - dbdata:/var/lib/postgresql/data
      - ./resources/docker/sql-dumps/:/docker-entrypoint-initdb.d/:ro
      - ./resources/docker/percona.cnf:/etc/percona-server.conf.d/custom.cnf:ro
    environment:
      - "POSTGRES_PASSWORD=supersecret"
      - "PGDATA=/var/lib/postgresql/data/pgdata"
    </code>
</pre>