<footer class="absolute pin-b pin-l pb-8 w-full">
    <span class="flex justify-between">
        <img class="w-48 align-middle pl-8" src="img/tnw-logo-red.svg">
        <span class="align-middle pr-8">A talk by Julio Foulquie</span>
    </span>
</footer>