<pre class="font-mono"><code class="makefile text-base">
restart:
	docker-compose down --remove-orphans
	docker-compose up -d
	@echo ""
	@echo "You can access the project at: https://$(host)"
	@echo "DB Admin: https://$(db_admin_host)"
	@echo ""
.PHONY: restart

migrate:
	docker exec -it $(container_id) php artisan migrate
.PHONY: migrate

migrate-fresh:
	docker exec -it $(container_id) php artisan migrate:fresh
.PHONY: migrate-fresh

migrate-rollback:
	docker exec -it $(container_id) php artisan migrate:rollback
.PHONY: migrate-rollback

seed:
	docker exec -it $(container_id) php artisan db:seed
.PHONY: seed

truncate:
	docker exec -it $(container_id) php artisan eb:truncate
.PHONY: truncate

composer-install:
	docker exec -it $(container_id) composer install
.PHONY: composer-install

composer-update:
	docker exec -it $(container_id) composer update
.PHONY: composer-update
    </code>
</pre>