<pre class="font-mono"><code class="makefile text-base">
container=myapp
container_id=$(shell docker ps --filter "name=$(container)" --format '{{.ID}}')
compose_file=docker-compose.yml
host=$(shell grep -m 1 'rule=Host(`.*`)' $(compose_file) | sed 's/[^`]*`\(.*\)`[^`]""/\1/' )

up:
	docker-compose up -d
	@echo ""
	@echo "You can access the project at: https://$(host)"
	@echo ""
.PHONY: up

build:
	docker-compose rm -vsf
	docker-compose down -v --remove-orphans
	docker-compose build
	docker-compose up -d
	@echo ""
	@echo "You can access the project at: https://$(host)"
	@echo ""
.PHONY: build

clean:
	docker-compose rm -vsf
	docker-compose down -v --remove-orphans
.PHONY: clean

down:
	docker-compose down --remove-orphans
.PHONY: down

    </code>
</pre>