<pre class="font-mono"><code class="makefile text-base">
npm:
	docker exec -it $(container_id) npm install
.PHONY: npm

npm-dev:
	docker exec -it $(container_id) npm run dev
.PHONY: npm-dev

jumpin:
	docker exec -it $(container_id) bash
.PHONY: jumpin

test:
	docker exec -it $(container_id) php -d pcov.enabled=1 vendor/bin/phpunit
.PHONY: test

larastan:
	docker exec -it $(container_id) php vendor/bin/phpstan analyse
.PHONY: larastan

logs:
	docker-compose logs -f
.PHONY: logs

queue:
	docker exec -it $(container_id) php artisan queue:work
.PHONY: queue

run-ip:
	docker inspect -f '{{ .NetworkSettings.Networks.gateway.IPAddress }}' `docker ps --filter "name=eb_app_run" --filter status=running --format "{{.ID}}"`
.PHONY: run-ip
    </code>
</pre>