<pre class="font-mono"><code class="yaml text-base">
version: "3"
services:
  traefik:
    image: traefik:v2.5
    command: --providers.docker # Enables the web UI and tells Traefik to listen to docker
    container_name: global_traefik
    restart: "always"
    ports:
      - "80:80" # Port 80 is used for HTTP trafic
      - "443:443" # Port 443 is used for HTTPS trafic
    volumes:
      # Here is the mount of the traefik config
      - ./traefik.toml:/etc/traefik/traefik.toml:ro
      - ./tls-info.toml:/etc/traefik/tls-info.toml:ro
      # Here is the mount of the local ~/ssl directory
      - ./ssl:/etc/traefik/ssl:ro
      # The docker socket is mounted for auto-discovery of new services
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      # Attach the traefik container to the default network (which is the global "gateway" network)
      - default
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.entrypoints=web-secure"
      - "traefik.http.routers.api.rule=Host(`dashboard.local.j3j5.uy`)"
      - "traefik.http.routers.api.service=api@internal"
      - "traefik.http.routers.api.middlewares=auth"
      - "traefik.http.routers.api.tls=true"
      - "traefik.http.middlewares.auth.basicauth.users=admin:$$may1$$aBcN4ABC7$$RY/wKJaBc45aUbBcDubmre0"

# Make the externally created network "gateway" available as network "default"
networks:
  default:
    external: true
    name: gateway
    </code>
</pre>